.TodoAdd{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TodoAdd input{
    padding: 20px 12px;
    width: 75%;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
}
.TodoAdd input:focus{
    outline: 1px solid #2F80ED;
}
.TodoAdd button{
    width: 15%;
    background-color: #2F80ED;
    color: #000000;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    cursor: pointer;
}